{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Last Ten Measures</h4>
            <!--- 
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/measurementcreate' " style="text-align:center;">+
                </button>
            </div>
            --->
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#ff0084">
                            <th font color="red">Solicitud</th>
                            <th>nombre</th>
                            <th>email</th>
                            <th>telefono</th>
                            <th>direccion</th>

                        </tr>
                        </thead>
                        <tbody>

                        {% for cliente in clientes_list %}
                        <tr>
                            <td>{{ cliente.solicitud.nombre }}</td>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>{{ cliente.telefono }}</td>
                            <td>{{ cliente.direccion }}</td>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}